.category{
    display: flex;
    height: 100%;
    overflow: hidden;
    .responses, .users{
        justify-content: space-around;
    }
    .filters-2{
        display: flex;
        align-items: center;
        button{
            width: 300px;
            margin:0
        }
    }
    .id{
        width: fit-content !important;
    }
    .table-items{
        color:#fff;
    }
    .dashboard-header{
        width: 100%;
    }
}
@media(max-width:1250px){
    .category{
      flex-direction: column;
        .filters-2{
            flex-direction: column !important;
            align-items: flex-start;
            button{
                margin:10px 0;
            }
        }
    }
    .table{
      padding:20px 0;
      width: 98%;
      margin:0 auto;
    }
  }