.switcher{
    display: flex;
    flex-direction: row;
    align-items: center;
    .mode-switcher-container .mode-switch{
        background-color: transparent;
        display: flex;
        border:1px solid rgb(88, 88, 88);
        border-radius: 30px;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin:3px;
            cursor: pointer;
        }
        .active{
            background-color: #fff;
            border:1px solid rgb(88, 88, 88);
        }
    }
    .sun{
        margin-right: 10px;
        font-size: 20px;
        color:#fff;

    }
    .moon{
        margin-left:10px;
        font-size: 20px;
        color:#fff;

    }
}