.frontpage{
    padding:40px 100px 0;
    .header{
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        select{
            margin:0;
        }
    }
    .searchbar {
        margin-bottom: 30px;
        border: 1px solid rgba(36,28,21,0.3);
        width: fit-content;
        background-color: #fff;
        padding:0 5px;
        border-radius: 30px;
        input{
            width: 300px;
            border: none;
            &:focus{
                border:none;
                box-shadow: none;
            }
        }
        button{
            width: fit-content;
            margin-left: 10px;
            padding:0 20px;
        }
    }
    .signs {
        display: flex;
        flex-wrap: wrap;
        .sign{
            margin-bottom:5px;
            cursor: pointer;
            position: relative;
            flex-basis: 33.33333%;
            // &:hover{
            //     .on-hover{
            //         visibility: visible;
            //     }
            // }
        }
        video{
            // width: 97%;
            border-radius: 10px;
        }
        .personalized-video{
            width: 97%;
        }
        h3{
            font-size: 20px;
            color:#292828;
        }
        .on-hover{
            visibility: hidden;
            position: absolute;
            width: 90%;
            height: fit-content;
            z-index: 99999;
            top:300px;
            left: 0;
            overflow: hidden;
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid rgba(255, 255, 255, 0.3);
            display: flex;
            align-items: flex-start;
            padding:10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            .inner-text{
                margin-left: 20px;
                .long-text{
                    width: 150px;
                    word-break: break-all;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    height: fit-content;
                }
                .category{
                    margin:10px 0;
                }
                span{
                    border-radius: 5px;
                    padding:3px 5px;
                    border-radius: 16px;
                    background-color:#3b7e86;
                    color:#fff;
                    margin-left: 5px;
                }
                .read-more{
                    display: flex;
                    align-items: center;
                    text-decoration: none ;
                    border:1px solid #3b7e86;
                    color:#3b7e86;
                    width: fit-content;
                    padding:5px 10px;
                    border-radius: 30px;
                    .right-arrow{
                        content: url('../../../assets/dashboard/arrow-right.png');
                        width: 25px;
                        height: 25px;
                        margin-left: 5px;
                    }
                }
            }
            img{
                width: 50%;
            }
        }
    }
}
.frontpage-item{
    display: flex;
    h2{
        margin:5px 0;;
    }
    video{
        width: 700px;
    }
    img{
        width: 200px;
        border-radius: 10px;
    }
    span{
        border-radius: 5px;
        padding:3px 10px;
        border-radius: 16px;
        background-color:#3b7e86;
        color:#fff;
    }
    .frontpage-item-text{
        padding:40px
    }
    .go-back{
        width: fit-content;
        padding: 10px 20px;
    }
}
@media(max-width:1250px){
    .sign{
        &:hover{
            .on-hover{
                display: none;
            }
        }
    }
    .header{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .searchbar{
        margin-bottom: 10px !important;
    }
    .frontpage-item{
        flex-direction: column;
        video{
            width: 100%;
        }
    }
}
@media(max-width:960px){
    .frontpage{
        padding:80px 30px 0;
        .searchbar{
            input{
                width: fit-content !important;
            }
        }
    }
    .sign{
        flex-basis:50% !important;
    }
}
@media(max-width:640px){
    .frontpage{
        .searchbar{
            border: none;
            background-color: transparent;
            flex-direction: column;
            border:none !important;
            input{
                border: 1px solid rgba(36,28,21,0.3);
                width: 90% !important;
            }
            button{
                margin:8px 0;
            }
        }
        .sign{
            flex-basis: 100% !important;
        }
    }
}
@media(max-width:480px){
    .frontpage{
        padding:120px 30px 0;
    }
}
body.dark-mode{
    h3{
        color:#fff !important;
    }
}